@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css");
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css); 

.header-container {
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    display: flex;
    
}

.logo-container {
    display: flex;
    align-items: center;
  }
  
.header-gdsc {
    color: #000;
    font-family: Google Sans;
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 25px;
    margin-left: 177px;
    display: flex;
}

.header-konkuk-univ {
    color: #7C7C7C;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.48px;
    margin-top: 32px;
    margin-left: 252px;
    display: flexbox;
}

.nav-bar ul {
    color: #000;
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    gap: 94px;
    list-style-type: none;
    margin-right: 119px;

}
  
.nav-bar ul li {
    cursor: pointer;
}
