@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css");
@import url("http://fonts.googleapis.com/earlyaccess/notosanskr.css"); 


.header-container {
    display: flex;
    justify-content: space-between;
  }
  
  .logo-container {
    width: 45px;
    height: 21px;
    flex-grow: 0;
    margin: 4px 12px 4px 0;
    object-fit: contain;
    white-space: nowrap; 
    cursor: pointer;
  }
  
  .header-gdsc {
    color: #000;
    font-family: Noto sans KR;
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    white-space: nowrap; 
    padding-left: 12px;
    padding-top: 25px;
  }
  
  .header-konkuk-univ {
    color: #7C7C7C;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.48px;
    white-space: nowrap; 
    padding-left: 8px;
    padding-top: 32px;


  }
  
  .nav-bar ul {
    color: #000;
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    gap: 94px;
    list-style-type: none;
    margin-right: 119px;
    margin-top:30px;
  }
  
  .nav-bar ul li {
    cursor: pointer;
  }
